body{
    color: blue;
    text-align: center;
    font-family: Arial;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#cabecera {
  background: #33a;
  color: white;
  margin: 0;
  padding: 0.5em;
  font-weight: bold;
  -webkit-box-shadow: -5px 3px 85px 5px rgba(36, 37, 41, 1);
  -moz-box-shadow: -5px 3px 85px 5px rgba(36, 37, 41, 1);
  box-shadow: -5px 3px 85px 5px rgba(36, 37, 41, 1);
}

#cabecera #tagline {
    margin-left: 2em;
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;

}

#container {
  width: 60%;
  padding: 1em;
  text-align: left;
  border: 1px solid #ddd;
  margin: 0 auto;
}

#container h1 {
  color: red;
  height: 22px;
  font-size: 24px;
}
